<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calcular IMC</title>
</head>
<body>
  <h1>Calcular IMC</h1>
  <form method="post">
    {% csrf_token %}
    <h2>Information</h2>
    <fieldset>
      <label for="peso">Weight (kg):</label>
      <input type="number" id="peso" name="peso" step="0.01" min="0">
    </fieldset>
    <fieldset>
      <label for="altura">Height (m):</label>
      <input type="number" id="altura" name="altura" step="0.01" min="0">
    </fieldset>
    <button type="submit">Calculate</button>
    <script>
      var calcularBtn = document.getElementById('calcular');
    
      calcularBtn.addEventListener('click', function(event) {
        event.preventDefault(); // previne que o formulário seja enviado pelo botão
    
        var peso = document.getElementById('peso').value;
        var altura = document.getElementById('altura').value;
    
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/calcular_imc_ajax/'); // URL da rota que processa as informações do formulário
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            document.getElementById('imc-result').textContent = 'Your IMC is: ' + response.imc.toFixed(2);
          } else {
            console.log('Erro ao calcular IMC');
          }
        };
        xhr.send('peso=' + peso + '&altura=' + altura);
      });
    </script>
  </form>
  
  {% if imc %}
  <div>
    <h2>Your IMC is: {{ imc|floatformat:"2" }}</h2>
  </div>
  {% endif %}
</body>
</html>